* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Work Sans',sans-serif;
    text-decoration: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 5;
}

.side {
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

body {
    background-color: #f1f0e9;
    font-size: 14px;
}

body.active-scroll {
    overflow: hidden; /* Prevent scrolling when the menu is active */
}

.icon {
    font-size: 2.5rem;
}

.container {
    padding-top: 10vh;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    text-align: center;
    padding: 20px 0px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#arrow-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 2.5rem;
    color: #b39d78;
    display: none;
}
  

p {
    margin-bottom: 20px;
}

.popup-menu {
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: -100%; /* Initially hidden above the screen */
    transition: top 0.2s ease-in-out; /* Transition for smooth sliding */
}

.active {
    top: 0%; /* Slide to the center of the screen when active */
}

.popup-menu a {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

strong {
    font-weight: 600;
}

.vertical-padding {
    height: 100vh;
}

.logo {
    height: 100%;
}